openapi: 3.1.0
info:
  title: CGraph API
  description: |
    CGraph is a modern communication platform combining messaging, groups, and forums
    with end-to-end encryption and Web3 wallet integration.
    
    ## Authentication
    
    Authentication uses HTTP-only cookies for enhanced security:
    - Access tokens are set as HTTP-only cookies (15 min expiry)
    - Refresh tokens are set as HTTP-only cookies (7 day expiry)
    - All API requests automatically include cookies via `withCredentials: true`
    
    For WebSocket connections, a session token is provided via the auth endpoints
    and passed as a query parameter.
    
    Legacy Bearer token authentication is still supported for backwards compatibility:
    ```
    Authorization: Bearer <your-token>
    ```
    
    Obtain tokens via `/api/v1/auth/login` or `/api/v1/auth/register`.
    
    ## End-to-End Encryption (v0.9.0+)
    
    CGraph implements Signal Protocol-inspired E2EE:
    - X3DH for initial key agreement
    - Double Ratchet for forward secrecy
    - AES-256-GCM for message encryption
    
    See the E2EE endpoints under `/api/v1/e2ee/*` for key management.
    
    ## Rate Limiting
    
    - Default: 100 requests/minute per IP
    - Authenticated: 300 requests/minute per user
    - Upload endpoints: 10 requests/minute
    
    Rate limit headers are included in all responses:
    - `X-RateLimit-Limit`
    - `X-RateLimit-Remaining`
    - `X-RateLimit-Reset`
    
  version: 0.9.1
  contact:
    name: CGraph Support
    email: support@cgraph.org
    url: https://cgraph.org
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.cgraph.org/api/v1
    description: Production server
  - url: https://staging-api.cgraph.org/api/v1
    description: Staging server
  - url: http://localhost:4000/api/v1
    description: Local development

tags:
  - name: Authentication
    description: User registration, login, and session management
  - name: Two-Factor Authentication
    description: TOTP-based 2FA setup, verification, and backup codes
  - name: OAuth
    description: OAuth provider authentication (Google, Apple, etc.)
  - name: Users
    description: User profiles and settings
  - name: Settings
    description: User preferences, notifications, privacy settings
  - name: Friends
    description: Friend requests and relationships
  - name: Conversations
    description: Direct messaging between users
  - name: Messages
    description: Message operations within conversations
  - name: Private Messages
    description: MyBB-style private messaging with folders and drafts
  - name: Groups
    description: Group creation and management
  - name: Channels
    description: Channels within groups
  - name: Forums
    description: Forum communities
  - name: Threads
    description: Forum threads and posts
  - name: Calls
    description: WebRTC voice and video calls
  - name: Voice Messages
    description: Audio message recording and playback
  - name: E2EE
    description: End-to-End Encryption key management (v0.9.0+)
  - name: Presence
    description: Online status and presence tracking
  - name: Leaderboard
    description: Global and category leaderboards
  - name: Gamification
    description: XP, achievements, quests, titles, and rewards
  - name: Calendar
    description: Events, categories, and RSVPs
  - name: Referrals
    description: Referral codes, rewards, and validation
  - name: Members
    description: Member discovery and MyBB profile endpoints
  - name: Admin
    description: Administrative endpoints (requires admin role)

paths:
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register a new user
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, username, password]
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                username:
                  type: string
                  minLength: 3
                  maxLength: 32
                  pattern: '^[a-zA-Z0-9_]+$'
                  example: johndoe
                password:
                  type: string
                  minLength: 8
                  example: SecurePass123!
                display_name:
                  type: string
                  maxLength: 64
                  example: John Doe
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags: [Authentication]
      summary: Login with email and password
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid or expired refresh token

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Logout and invalidate tokens
      operationId: logoutUser
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Logged out successfully

  # ============================================
  # TWO-FACTOR AUTHENTICATION (2FA)
  # ============================================

  /auth/2fa/status:
    get:
      tags: [Two-Factor Authentication]
      summary: Get 2FA status for current user
      operationId: get2FAStatus
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 2FA status
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                  setup_at:
                    type: string
                    format: date-time
                  backup_codes_remaining:
                    type: integer

  /auth/2fa/setup:
    post:
      tags: [Two-Factor Authentication]
      summary: Begin 2FA setup - generates secret and QR code
      operationId: setup2FA
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 2FA setup data
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret:
                    type: string
                    description: Base32-encoded TOTP secret
                  qr_code_url:
                    type: string
                    format: uri
                    description: Data URL for QR code image
                  otpauth_url:
                    type: string
                    description: otpauth:// URL for authenticator apps

  /auth/2fa/enable:
    post:
      tags: [Two-Factor Authentication]
      summary: Enable 2FA after verifying TOTP code
      operationId: enable2FA
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  pattern: '^\d{6}$'
                  description: 6-digit TOTP code from authenticator app
      responses:
        '200':
          description: 2FA enabled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                  backup_codes:
                    type: array
                    items:
                      type: string
                    description: One-time backup codes (show only once)
        '401':
          description: Invalid TOTP code

  /auth/2fa/verify:
    post:
      tags: [Two-Factor Authentication]
      summary: Verify 2FA code during login
      operationId: verify2FA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, session_token]
              properties:
                code:
                  type: string
                  pattern: '^\d{6}$'
                session_token:
                  type: string
                  description: Temporary token from login response when 2FA is required
      responses:
        '200':
          description: 2FA verified, full auth tokens returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid code or session

  /auth/2fa/disable:
    post:
      tags: [Two-Factor Authentication]
      summary: Disable 2FA for current user
      operationId: disable2FA
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
                  description: Current password for verification
      responses:
        '200':
          description: 2FA disabled
        '401':
          description: Invalid password

  /auth/2fa/backup-codes:
    post:
      tags: [Two-Factor Authentication]
      summary: Regenerate backup codes
      operationId: regenerateBackupCodes
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
      responses:
        '200':
          description: New backup codes generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  backup_codes:
                    type: array
                    items:
                      type: string

  /auth/2fa/backup-codes/use:
    post:
      tags: [Two-Factor Authentication]
      summary: Use a backup code for 2FA verification
      operationId: useBackupCode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, session_token]
              properties:
                code:
                  type: string
                  description: One-time backup code
                session_token:
                  type: string
      responses:
        '200':
          description: Backup code accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid backup code

  # ============================================
  # OAUTH AUTHENTICATION
  # ============================================

  /auth/oauth/providers:
    get:
      tags: [OAuth]
      summary: List available OAuth providers
      operationId: listOAuthProviders
      responses:
        '200':
          description: Available OAuth providers
          content:
            application/json:
              schema:
                type: object
                properties:
                  providers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          enum: [google, apple, github, discord]
                        name:
                          type: string
                        icon_url:
                          type: string
                        enabled:
                          type: boolean

  /auth/oauth/{provider}:
    get:
      tags: [OAuth]
      summary: Initiate OAuth authorization flow
      operationId: oauthAuthorize
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [google, apple, github, discord]
        - name: redirect_uri
          in: query
          schema:
            type: string
            format: uri
      responses:
        '302':
          description: Redirect to OAuth provider

  /auth/oauth/{provider}/callback:
    get:
      tags: [OAuth]
      summary: OAuth callback handler (web)
      operationId: oauthCallback
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OAuth authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
    post:
      tags: [OAuth]
      summary: OAuth callback handler (Apple uses POST with form_post)
      operationId: oauthCallbackPost
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                code:
                  type: string
                id_token:
                  type: string
                state:
                  type: string
      responses:
        '200':
          description: OAuth authentication successful

  /auth/oauth/{provider}/mobile:
    post:
      tags: [OAuth]
      summary: Verify OAuth tokens from mobile native SDKs
      operationId: oauthMobile
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [google, apple]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_token]
              properties:
                id_token:
                  type: string
                  description: ID token from native SDK
                access_token:
                  type: string
                  description: Access token (optional, for some providers)
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /auth/oauth/{provider}/link:
    post:
      tags: [OAuth]
      summary: Link OAuth provider to existing account
      operationId: linkOAuthProvider
      security:
        - BearerAuth: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Provider linked
    delete:
      tags: [OAuth]
      summary: Unlink OAuth provider from account
      operationId: unlinkOAuthProvider
      security:
        - BearerAuth: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Provider unlinked

  /auth/wallet/challenge:
    post:
      tags: [Authentication]
      summary: Request Web3 wallet authentication challenge
      operationId: walletChallenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wallet_address]
              properties:
                wallet_address:
                  type: string
                  pattern: '^0x[a-fA-F0-9]{40}$'
                  example: '0x742d35Cc6634C0532925a3b844Bc9e7595f1Bd00'
      responses:
        '200':
          description: Challenge created
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenge:
                    type: string
                  expires_at:
                    type: string
                    format: date-time

  /auth/wallet/verify:
    post:
      tags: [Authentication]
      summary: Verify Web3 wallet signature
      operationId: walletVerify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wallet_address, signature, challenge]
              properties:
                wallet_address:
                  type: string
                signature:
                  type: string
                challenge:
                  type: string
      responses:
        '200':
          description: Wallet verified, user authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /users/me:
    get:
      tags: [Users]
      summary: Get current user profile
      operationId: getCurrentUser
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    patch:
      tags: [Users]
      summary: Update current user profile
      operationId: updateCurrentUser
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                bio:
                  type: string
                avatar_url:
                  type: string
                  format: uri
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /users/{user_id}:
    get:
      tags: [Users]
      summary: Get user by ID
      operationId: getUserById
      security:
        - BearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found

  # ============================================
  # SETTINGS
  # ============================================

  /settings:
    get:
      tags: [Settings]
      summary: Get all user settings
      operationId: getSettings
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
    put:
      tags: [Settings]
      summary: Update user settings
      operationId: updateSettings
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSettings'
      responses:
        '200':
          description: Settings updated

  /settings/notifications:
    put:
      tags: [Settings]
      summary: Update notification preferences
      operationId: updateNotificationSettings
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                push_enabled:
                  type: boolean
                email_enabled:
                  type: boolean
                dm_notifications:
                  type: boolean
                mention_notifications:
                  type: boolean
                friend_request_notifications:
                  type: boolean
                digest_frequency:
                  type: string
                  enum: [none, daily, weekly]
      responses:
        '200':
          description: Notification settings updated

  /settings/privacy:
    put:
      tags: [Settings]
      summary: Update privacy settings
      operationId: updatePrivacySettings
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_visibility:
                  type: string
                  enum: [public, friends, private]
                show_online_status:
                  type: boolean
                allow_friend_requests:
                  type: boolean
                allow_dms_from:
                  type: string
                  enum: [everyone, friends, none]
                show_activity_status:
                  type: boolean
      responses:
        '200':
          description: Privacy settings updated

  /settings/appearance:
    put:
      tags: [Settings]
      summary: Update appearance settings
      operationId: updateAppearanceSettings
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                theme:
                  type: string
                  enum: [light, dark, auto]
                accent_color:
                  type: string
                compact_mode:
                  type: boolean
                font_size:
                  type: string
                  enum: [small, medium, large]
      responses:
        '200':
          description: Appearance settings updated

  # ============================================
  # PRIVATE MESSAGES (PM) - MyBB Feature
  # ============================================

  /pm/folders:
    get:
      tags: [Private Messages]
      summary: List PM folders
      operationId: listPMFolders
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of PM folders
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PMFolder'
    post:
      tags: [Private Messages]
      summary: Create a custom PM folder
      operationId: createPMFolder
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  maxLength: 50
      responses:
        '201':
          description: Folder created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PMFolder'

  /pm/folders/{id}:
    put:
      tags: [Private Messages]
      summary: Rename a PM folder
      operationId: updatePMFolder
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Folder updated
    delete:
      tags: [Private Messages]
      summary: Delete a PM folder
      operationId: deletePMFolder
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Folder deleted

  /pm/messages:
    get:
      tags: [Private Messages]
      summary: List private messages
      operationId: listPMs
      security:
        - BearerAuth: []
      parameters:
        - name: folder_id
          in: query
          schema:
            type: string
            format: uuid
        - name: unread_only
          in: query
          schema:
            type: boolean
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: List of private messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PrivateMessage'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags: [Private Messages]
      summary: Send a private message
      operationId: sendPM
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [recipient_ids, subject, body]
              properties:
                recipient_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 1
                  maxItems: 10
                subject:
                  type: string
                  maxLength: 200
                body:
                  type: string
                  maxLength: 10000
                reply_to_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateMessage'

  /pm/messages/{id}:
    get:
      tags: [Private Messages]
      summary: Get a private message
      operationId: getPM
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Private message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateMessage'
    delete:
      tags: [Private Messages]
      summary: Delete a private message
      operationId: deletePM
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Message deleted

  /pm/messages/{id}/read:
    post:
      tags: [Private Messages]
      summary: Mark message as read
      operationId: markPMRead
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Marked as read

  /pm/messages/{id}/move:
    post:
      tags: [Private Messages]
      summary: Move message to folder
      operationId: movePMToFolder
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [folder_id]
              properties:
                folder_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Message moved

  /pm/drafts:
    get:
      tags: [Private Messages]
      summary: List PM drafts
      operationId: listPMDrafts
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of drafts
    post:
      tags: [Private Messages]
      summary: Save a PM draft
      operationId: savePMDraft
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipient_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                subject:
                  type: string
                body:
                  type: string
      responses:
        '201':
          description: Draft saved

  /pm/drafts/{id}/send:
    post:
      tags: [Private Messages]
      summary: Send a draft
      operationId: sendPMDraft
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Draft sent as message

  /pm/stats:
    get:
      tags: [Private Messages]
      summary: Get PM statistics
      operationId: getPMStats
      security:
        - BearerAuth: []
      responses:
        '200':
          description: PM statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  inbox_count:
                    type: integer
                  unread_count:
                    type: integer
                  sent_count:
                    type: integer
                  draft_count:
                    type: integer
                  storage_used:
                    type: integer
                  storage_limit:
                    type: integer

  # ============================================
  # CALENDAR & EVENTS - MyBB Feature
  # ============================================

  /calendar/events:
    get:
      tags: [Calendar]
      summary: List calendar events
      operationId: listCalendarEvents
      security:
        - BearerAuth: []
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
        - name: category_id
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: List of events
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CalendarEvent'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags: [Calendar]
      summary: Create a calendar event
      operationId: createCalendarEvent
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, start_date]
              properties:
                title:
                  type: string
                  maxLength: 200
                description:
                  type: string
                start_date:
                  type: string
                  format: date-time
                end_date:
                  type: string
                  format: date-time
                all_day:
                  type: boolean
                  default: false
                category_id:
                  type: string
                  format: uuid
                visibility:
                  type: string
                  enum: [public, private, friends]
                location:
                  type: string
                repeats:
                  type: string
                  enum: [none, daily, weekly, monthly, yearly]
      responses:
        '201':
          description: Event created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarEvent'

  /calendar/events/{id}:
    get:
      tags: [Calendar]
      summary: Get a calendar event
      operationId: getCalendarEvent
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Event details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarEvent'
    put:
      tags: [Calendar]
      summary: Update a calendar event
      operationId: updateCalendarEvent
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                start_date:
                  type: string
                  format: date-time
                end_date:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Event updated
    delete:
      tags: [Calendar]
      summary: Delete a calendar event
      operationId: deleteCalendarEvent
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Event deleted

  /calendar/events/{id}/rsvp:
    post:
      tags: [Calendar]
      summary: RSVP to an event
      operationId: rsvpCalendarEvent
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [response]
              properties:
                response:
                  type: string
                  enum: [going, maybe, not_going]
      responses:
        '200':
          description: RSVP recorded
    delete:
      tags: [Calendar]
      summary: Cancel RSVP
      operationId: cancelRsvp
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: RSVP cancelled

  /calendar/categories:
    get:
      tags: [Calendar]
      summary: List event categories
      operationId: listEventCategories
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of categories
    post:
      tags: [Calendar]
      summary: Create event category
      operationId: createEventCategory
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, color]
              properties:
                name:
                  type: string
                color:
                  type: string
                  pattern: '^#[0-9A-Fa-f]{6}$'
      responses:
        '201':
          description: Category created

  # ============================================
  # VOICE MESSAGES
  # ============================================

  /voice-messages:
    post:
      tags: [Voice Messages]
      summary: Upload a voice message
      operationId: createVoiceMessage
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [audio]
              properties:
                audio:
                  type: string
                  format: binary
                  description: Audio file (webm, ogg, m4a, mp3)
                duration:
                  type: number
                  description: Duration in seconds
      responses:
        '201':
          description: Voice message created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceMessage'

  /voice-messages/{id}:
    get:
      tags: [Voice Messages]
      summary: Get voice message details
      operationId: getVoiceMessage
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Voice message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceMessage'
    delete:
      tags: [Voice Messages]
      summary: Delete a voice message
      operationId: deleteVoiceMessage
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Voice message deleted

  /voice-messages/{id}/waveform:
    get:
      tags: [Voice Messages]
      summary: Get waveform data for voice message
      operationId: getVoiceMessageWaveform
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Waveform data
          content:
            application/json:
              schema:
                type: object
                properties:
                  waveform:
                    type: array
                    items:
                      type: number
                    description: Array of amplitude values (0-1)

  # ============================================
  # GAMIFICATION
  # ============================================

  /gamification/stats:
    get:
      tags: [Gamification]
      summary: Get user gamification stats
      operationId: getGamificationStats
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Gamification statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  xp:
                    type: integer
                  level:
                    type: integer
                  xp_to_next_level:
                    type: integer
                  karma:
                    type: integer
                  coins:
                    type: integer
                  streak_days:
                    type: integer
                  achievements_unlocked:
                    type: integer
                  achievements_total:
                    type: integer

  /gamification/achievements:
    get:
      tags: [Gamification]
      summary: List all achievements
      operationId: listAchievements
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: query
          schema:
            type: string
        - name: unlocked_only
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: List of achievements
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Achievement'

  /gamification/achievements/{id}/unlock:
    post:
      tags: [Gamification]
      summary: Manually unlock an achievement (admin/special)
      operationId: unlockAchievement
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Achievement unlocked

  /quests:
    get:
      tags: [Gamification]
      summary: List available quests
      operationId: listQuests
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of quests
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Quest'

  /quests/daily:
    get:
      tags: [Gamification]
      summary: Get daily quests
      operationId: getDailyQuests
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Daily quests

  /quests/weekly:
    get:
      tags: [Gamification]
      summary: Get weekly quests
      operationId: getWeeklyQuests
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Weekly quests

  /quests/{id}/accept:
    post:
      tags: [Gamification]
      summary: Accept a quest
      operationId: acceptQuest
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Quest accepted

  /quests/{id}/claim:
    post:
      tags: [Gamification]
      summary: Claim quest rewards
      operationId: claimQuestReward
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Rewards claimed
          content:
            application/json:
              schema:
                type: object
                properties:
                  xp_earned:
                    type: integer
                  coins_earned:
                    type: integer
                  items_earned:
                    type: array
                    items:
                      type: string

  /titles:
    get:
      tags: [Gamification]
      summary: List available titles
      operationId: listTitles
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of titles

  /titles/owned:
    get:
      tags: [Gamification]
      summary: List owned titles
      operationId: listOwnedTitles
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Owned titles

  /titles/{id}/equip:
    post:
      tags: [Gamification]
      summary: Equip a title
      operationId: equipTitle
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Title equipped

  /shop:
    get:
      tags: [Gamification]
      summary: Get shop items
      operationId: getShopItems
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Shop items

  /shop/{id}/purchase:
    post:
      tags: [Gamification]
      summary: Purchase shop item
      operationId: purchaseShopItem
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Item purchased

  /coins/balance:
    get:
      tags: [Gamification]
      summary: Get coin balance
      operationId: getCoinBalance
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Coin balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: integer
                  pending:
                    type: integer

  # ============================================
  # ADMIN ENDPOINTS
  # ============================================

  /admin/metrics:
    get:
      tags: [Admin]
      summary: Get system metrics
      operationId: getAdminMetrics
      security:
        - BearerAuth: []
      responses:
        '200':
          description: System metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_users:
                    type: integer
                  active_users_24h:
                    type: integer
                  total_messages:
                    type: integer
                  total_groups:
                    type: integer
                  total_forums:
                    type: integer
                  storage_used_bytes:
                    type: integer

  /admin/users:
    get:
      tags: [Admin]
      summary: List all users (admin)
      operationId: adminListUsers
      security:
        - BearerAuth: []
      parameters:
        - name: search
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, banned, suspended]
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: List of users

  /admin/users/{id}/ban:
    post:
      tags: [Admin]
      summary: Ban a user
      operationId: adminBanUser
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                duration_days:
                  type: integer
                  description: null for permanent ban
      responses:
        '200':
          description: User banned
    delete:
      tags: [Admin]
      summary: Unban a user
      operationId: adminUnbanUser
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User unbanned

  /admin/reports:
    get:
      tags: [Admin]
      summary: List content reports
      operationId: adminListReports
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, reviewed, resolved]
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: List of reports

  /admin/reports/{id}/resolve:
    post:
      tags: [Admin]
      summary: Resolve a report
      operationId: adminResolveReport
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [dismiss, warn, remove_content, ban_user]
                notes:
                  type: string
      responses:
        '200':
          description: Report resolved

  /admin/audit:
    get:
      tags: [Admin]
      summary: Get audit log
      operationId: getAdminAuditLog
      security:
        - BearerAuth: []
      parameters:
        - name: action_type
          in: query
          schema:
            type: string
        - name: actor_id
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Audit log entries

  /admin/maintenance/enable:
    post:
      tags: [Admin]
      summary: Enable maintenance mode
      operationId: enableMaintenanceMode
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                estimated_duration_minutes:
                  type: integer
      responses:
        '200':
          description: Maintenance mode enabled

  /admin/maintenance/disable:
    post:
      tags: [Admin]
      summary: Disable maintenance mode
      operationId: disableMaintenanceMode
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Maintenance mode disabled

  /friends:
    get:
      tags: [Friends]
      summary: List friends
      operationId: listFriends
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: List of friends
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Friend'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /friends/requests:
    get:
      tags: [Friends]
      summary: List pending friend requests
      operationId: listFriendRequests
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Pending requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FriendRequest'
    post:
      tags: [Friends]
      summary: Send friend request
      operationId: sendFriendRequest
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Request sent

  /friends/requests/{request_id}/accept:
    post:
      tags: [Friends]
      summary: Accept friend request
      operationId: acceptFriendRequest
      security:
        - BearerAuth: []
      parameters:
        - name: request_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request accepted

  /conversations:
    get:
      tags: [Conversations]
      summary: List conversations
      operationId: listConversations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: List of conversations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Conversation'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags: [Conversations]
      summary: Create or get existing conversation
      operationId: createConversation
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [participant_ids]
              properties:
                participant_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 1
      responses:
        '201':
          description: Conversation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'

  /conversations/{conversation_id}/messages:
    get:
      tags: [Messages]
      summary: Get messages in conversation
      operationId: getConversationMessages
      security:
        - BearerAuth: []
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: before
          in: query
          description: Get messages before this message ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags: [Messages]
      summary: Send message
      operationId: sendMessage
      security:
        - BearerAuth: []
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  maxLength: 4000
                encrypted_content:
                  type: string

  /conversations/{conversation_id}/read:
    post:
      tags: [Conversations]
      summary: Mark conversation as read
      operationId: markConversationRead
      security:
        - BearerAuth: []
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Conversation marked as read
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  conversationId:
                    type: string
                    format: uuid
                  unreadCount:
                    type: integer
                    example: 0

  /conversations/{conversation_id}/messages/{id}/read:
    post:
      tags: [Messages]
      summary: Mark a message as read
      operationId: markMessageRead
      security:
        - BearerAuth: []
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Message marked as read
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  messageId:
                    type: string
                    format: uuid

  /groups:
    get:
      tags: [Groups]
      summary: List user's groups
      operationId: listGroups
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
    post:
      tags: [Groups]
      summary: Create a new group
      operationId: createGroup
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 100
                description:
                  type: string
                  maxLength: 1000
                icon_url:
                  type: string
                  format: uri
                is_public:
                  type: boolean
                  default: false
      responses:
        '201':
          description: Group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'

  /groups/{group_id}/channels:
    get:
      tags: [Channels]
      summary: List channels in group
      operationId: listGroupChannels
      security:
        - BearerAuth: []
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Channel'
    post:
      tags: [Channels]
      summary: Create channel in group
      operationId: createChannel
      security:
        - BearerAuth: []
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, type]
              properties:
                name:
                  type: string
                type:
                  type: string
                  enum: [text, voice, announcement]
                category_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Channel created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'

  /forums:
    get:
      tags: [Forums]
      summary: List forums
      operationId: listForums
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of forums
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Forum'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags: [Forums]
      summary: Create a forum
      operationId: createForum
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, slug]
              properties:
                name:
                  type: string
                slug:
                  type: string
                  pattern: '^[a-z0-9-]+$'
                description:
                  type: string
                category_id:
                  type: string
                  format: uuid
                is_public:
                  type: boolean
                  default: true
      responses:
        '201':
          description: Forum created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forum'

  /forums/{forum_id}/threads:
    get:
      tags: [Threads]
      summary: List threads in forum
      operationId: listForumThreads
      parameters:
        - name: forum_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: sort
          in: query
          schema:
            type: string
            enum: [hot, new, top, controversial]
            default: hot
      responses:
        '200':
          description: List of threads
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Thread'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags: [Threads]
      summary: Create thread in forum
      operationId: createThread
      security:
        - BearerAuth: []
      parameters:
        - name: forum_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, content]
              properties:
                title:
                  type: string
                  minLength: 5
                  maxLength: 300
                content:
                  type: string
                  minLength: 10
                flair:
                  type: string
      responses:
        '201':
          description: Thread created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'

  /upload:
    post:
      tags: [Uploads]
      summary: Upload a file
      operationId: uploadFile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                type:
                  type: string
                  enum: [avatar, attachment, voice]
      responses:
        '201':
          description: File uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                  filename:
                    type: string
                  size:
                    type: integer
                  content_type:
                    type: string

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    CookieAuth:
      type: apiKey
      in: cookie
      name: access_token
      description: HTTP-only cookie containing JWT access token (v0.9.0+)

  parameters:
    PageParam:
      name: page
      in: query
      description: Page number (1-indexed)
      schema:
        type: integer
        minimum: 1
        default: 1
    PerPageParam:
      name: per_page
      in: query
      description: Items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  schemas:
    AuthResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            token:
              type: string
              description: JWT access token
            refresh_token:
              type: string
              description: Refresh token for obtaining new access tokens
            expires_at:
              type: string
              format: date-time
            user:
              $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        username:
          type: string
        display_name:
          type: string
        email:
          type: string
          format: email
        avatar_url:
          type: string
          format: uri
        bio:
          type: string
        status:
          type: string
          enum: [online, away, busy, offline]
        last_seen_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        has_2fa_enabled:
          type: boolean
        wallet_address:
          type: string

    Friend:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user:
          $ref: '#/components/schemas/User'
        status:
          type: string
          enum: [online, away, busy, offline]
        created_at:
          type: string
          format: date-time

    FriendRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        sender:
          $ref: '#/components/schemas/User'
        receiver:
          $ref: '#/components/schemas/User'
        status:
          type: string
          enum: [pending, accepted, rejected]
        created_at:
          type: string
          format: date-time

    Conversation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        is_group:
          type: boolean
        participants:
          type: array
          items:
            $ref: '#/components/schemas/User'
        last_message:
          $ref: '#/components/schemas/Message'
        unread_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Message:
      type: object
      properties:
        id:
          type: string
          format: uuid
        conversation_id:
          type: string
          format: uuid
        sender:
          $ref: '#/components/schemas/User'
        content:
          type: string
        encrypted_content:
          type: string
        message_type:
          type: string
          enum: [text, image, file, voice, video]
        metadata:
          type: object
          properties:
            file_url:
              type: string
            file_name:
              type: string
            file_size:
              type: integer
            duration:
              type: number
              description: Duration in seconds for voice/video
            thumbnail:
              type: string
            width:
              type: integer
            height:
              type: integer
        is_edited:
          type: boolean
        read_by:
          type: array
          items:
            type: string
            format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Group:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        icon_url:
          type: string
          format: uri
        owner_id:
          type: string
          format: uuid
        member_count:
          type: integer
        is_public:
          type: boolean
        created_at:
          type: string
          format: date-time

    Channel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        group_id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum: [text, voice, announcement]
        category_id:
          type: string
          format: uuid
        position:
          type: integer
        created_at:
          type: string
          format: date-time

    Forum:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        icon_url:
          type: string
          format: uri
        member_count:
          type: integer
        thread_count:
          type: integer
        is_public:
          type: boolean
        created_at:
          type: string
          format: date-time

    Thread:
      type: object
      properties:
        id:
          type: string
          format: uuid
        forum_id:
          type: string
          format: uuid
        author:
          $ref: '#/components/schemas/User'
        title:
          type: string
        content:
          type: string
        flair:
          type: string
        upvotes:
          type: integer
        downvotes:
          type: integer
        score:
          type: integer
        comment_count:
          type: integer
        is_pinned:
          type: boolean
        is_locked:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string

    CallRoom:
      type: object
      properties:
        room_id:
          type: string
          format: uuid
        call_type:
          type: string
          enum: [audio, video]
        participants:
          type: array
          items:
            $ref: '#/components/schemas/CallParticipant'
        created_at:
          type: string
          format: date-time

    CallParticipant:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        username:
          type: string
        is_muted:
          type: boolean
        is_video_enabled:
          type: boolean
        joined_at:
          type: string
          format: date-time

    # ============================================
    # NEW SCHEMAS FOR 2FA, OAuth, PM, Calendar, etc.
    # ============================================

    UserSettings:
      type: object
      properties:
        theme:
          type: string
          enum: [light, dark, auto]
        accent_color:
          type: string
        compact_mode:
          type: boolean
        font_size:
          type: string
          enum: [small, medium, large]
        push_notifications:
          type: boolean
        email_notifications:
          type: boolean
        dm_notifications:
          type: boolean
        profile_visibility:
          type: string
          enum: [public, friends, private]
        show_online_status:
          type: boolean
        allow_friend_requests:
          type: boolean
        locale:
          type: string

    PMFolder:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum: [inbox, sent, drafts, trash, custom]
        message_count:
          type: integer
        unread_count:
          type: integer
        created_at:
          type: string
          format: date-time

    PrivateMessage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        subject:
          type: string
        body:
          type: string
        sender:
          $ref: '#/components/schemas/User'
        recipients:
          type: array
          items:
            $ref: '#/components/schemas/User'
        folder_id:
          type: string
          format: uuid
        is_read:
          type: boolean
        reply_to_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time

    CalendarEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        all_day:
          type: boolean
        location:
          type: string
        visibility:
          type: string
          enum: [public, private, friends]
        category:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            color:
              type: string
        repeats:
          type: string
          enum: [none, daily, weekly, monthly, yearly]
        rsvp_count:
          type: object
          properties:
            going:
              type: integer
            maybe:
              type: integer
            not_going:
              type: integer
        my_rsvp:
          type: string
          enum: [going, maybe, not_going]
          nullable: true
        created_by:
          $ref: '#/components/schemas/User'
        created_at:
          type: string
          format: date-time

    VoiceMessage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          format: uri
        duration:
          type: number
          description: Duration in seconds
        waveform:
          type: array
          items:
            type: number
          description: Amplitude values for visualization
        file_size:
          type: integer
        mime_type:
          type: string
        created_at:
          type: string
          format: date-time

    Achievement:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        icon_url:
          type: string
          format: uri
        category:
          type: string
        rarity:
          type: string
          enum: [common, uncommon, rare, epic, legendary]
        xp_reward:
          type: integer
        coin_reward:
          type: integer
        is_unlocked:
          type: boolean
        unlocked_at:
          type: string
          format: date-time
          nullable: true
        progress:
          type: number
          description: Progress towards achievement (0-100)
        requirement:
          type: string

    Quest:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [daily, weekly, special]
        status:
          type: string
          enum: [available, active, completed, expired]
        progress:
          type: integer
        goal:
          type: integer
        xp_reward:
          type: integer
        coin_reward:
          type: integer
        expires_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true

    E2EEKeyRegistration:
      type: object
      required: [identity_key, signed_prekey, prekeys]
      properties:
        device_id:
          type: string
          description: Unique device identifier
        identity_key:
          type: string
          format: base64
          description: Public identity key
        signed_prekey:
          type: object
          properties:
            key_id:
              type: string
            public_key:
              type: string
              format: base64
            signature:
              type: string
              format: base64
        prekeys:
          type: array
          items:
            type: object
            properties:
              key_id:
                type: string
              public_key:
                type: string
                format: base64

    PrekeyBundle:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        device_id:
          type: string
        identity_key:
          type: string
          format: base64
        signed_prekey:
          type: object
          properties:
            key_id:
              type: string
            public_key:
              type: string
              format: base64
            signature:
              type: string
              format: base64
        one_time_prekey:
          type: object
          nullable: true
          properties:
            key_id:
              type: string
            public_key:
              type: string
              format: base64

  # WebRTC Endpoints
  /calls/create:
    post:
      tags: [Calls]
      summary: Create a new call room
      operationId: createCallRoom
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target_user_id, call_type]
              properties:
                target_user_id:
                  type: string
                  format: uuid
                call_type:
                  type: string
                  enum: [audio, video]
      responses:
        '201':
          description: Call room created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRoom'

  /calls/{room_id}:
    get:
      tags: [Calls]
      summary: Get call room details
      operationId: getCallRoom
      security:
        - BearerAuth: []
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Call room details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRoom'

  /calls/{room_id}/join:
    post:
      tags: [Calls]
      summary: Join an existing call
      operationId: joinCall
      security:
        - BearerAuth: []
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully joined call
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRoom'

  /calls/{room_id}/leave:
    post:
      tags: [Calls]
      summary: Leave a call
      operationId: leaveCall
      security:
        - BearerAuth: []
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully left call

  # ============================================
  # LEADERBOARDS & GAMIFICATION
  # ============================================

  /leaderboard:
    get:
      tags: [Leaderboard]
      summary: Global leaderboard (all categories)
      operationId: globalLeaderboard
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [xp, level, karma, streak, messages, posts, friends]
          description: Metric to rank users (default xp)
        - name: period
          in: query
          schema:
            type: string
            enum: [daily, weekly, monthly, alltime]
          description: Time window for scores (default alltime)
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Leaderboard entries with pagination
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        rank:
                          type: integer
                        userId:
                          type: string
                          format: uuid
                        username:
                          type: string
                        displayName:
                          type: string
                        avatarUrl:
                          type: string
                        level:
                          type: integer
                        value:
                          type: number
                        isOnline:
                          type: boolean
                        isPremium:
                          type: boolean
                        isVerified:
                          type: boolean
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  currentUser:
                    type: object
                    nullable: true
                    properties:
                      rank:
                        type: integer
                      value:
                        type: number
                      userId:
                        type: string
                        format: uuid

  /users/leaderboard:
    get:
      tags: [Leaderboard]
      summary: Legacy users leaderboard
      operationId: usersLeaderboard
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Leaderboard data

  /gamification/leaderboard/{category}:
    get:
      tags: [Leaderboard]
      summary: Gamification leaderboard by category
      operationId: gamificationLeaderboard
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: path
          required: true
          schema:
            type: string
            enum: [xp, level, karma, streak, messages, posts]
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Leaderboard entries

  # ============================================
  # MYBB PRESENCE & REFERRALS
  # ============================================

  /presence/online:
    get:
      tags: [Presence]
      summary: List online users
      operationId: presenceOnline
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Online users and counts

  /presence/heartbeat:
    post:
      tags: [Presence]
      summary: Send heartbeat to stay online
      operationId: presenceHeartbeat
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Heartbeat acknowledged

  /presence/stats:
    get:
      tags: [Presence]
      summary: Presence statistics
      operationId: presenceStats
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Presence metrics

  /members:
    get:
      tags: [Members]
      summary: List members (MyBB)
      operationId: listMembers
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Members list

  /members/{id}:
    get:
      tags: [Members]
      summary: Get member by ID
      operationId: getMember
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Member details

  /referrals/stats:
    get:
      tags: [Referrals]
      summary: Referral stats
      operationId: referralStats
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Referral stats

  /referrals/leaderboard:
    get:
      tags: [Referrals]
      summary: Referral leaderboard
      operationId: referralLeaderboard
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Referral leaderboard

  /referrals/rewards:
    get:
      tags: [Referrals]
      summary: List referral reward tiers
      operationId: referralRewardTiers
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Reward tiers

  /referrals/rewards/{id}/claim:
    post:
      tags: [Referrals]
      summary: Claim referral reward
      operationId: referralClaimReward
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Reward claimed

  /referrals/validate/{code}:
    get:
      tags: [Referrals]
      summary: Validate referral code
      operationId: referralValidate
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Code valid/invalid

  /referrals/apply:
    post:
      tags: [Referrals]
      summary: Apply referral code
      operationId: referralApply
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
      responses:
        '200':
          description: Code applied

  # ============================================
  # E2EE ENDPOINTS (v0.9.0+)
  # ============================================

  /e2ee/keys:
    post:
      tags: [E2EE]
      summary: Register E2EE keys for a device
      description: |
        Register identity key, signed prekey, and one-time prekeys for E2EE.
        Must be called once per device during E2EE setup.
      operationId: registerE2EEKeys
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/E2EEKeyRegistration'
      responses:
        '201':
          description: Keys registered successfully
        '400':
          description: Invalid key format

  /e2ee/keys/{device_id}:
    delete:
      tags: [E2EE]
      summary: Revoke keys for a device
      description: |
        Revoke all E2EE keys for a specific device.
        Used when logging out a device or after security compromise.
      operationId: revokeDeviceKeys
      security:
        - BearerAuth: []
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Keys revoked successfully
        '404':
          description: Device not found

  /e2ee/bundle/{user_id}:
    get:
      tags: [E2EE]
      summary: Get prekey bundle for a user
      description: |
        Retrieve the prekey bundle needed to establish an encrypted session with a user.
        Returns identity key, signed prekey, and optionally a one-time prekey.
      operationId: getPrekeyBundle
      security:
        - BearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Prekey bundle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrekeyBundle'
        '404':
          description: User not found or no keys registered

  /e2ee/prekeys:
    post:
      tags: [E2EE]
      summary: Upload additional one-time prekeys
      description: |
        Upload additional one-time prekeys when running low.
        Should be called periodically to maintain availability.
      operationId: uploadPrekeys
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prekeys]
              properties:
                prekeys:
                  type: array
                  items:
                    type: object
                    properties:
                      key_id:
                        type: string
                      public_key:
                        type: string
                        format: base64
      responses:
        '200':
          description: Prekeys uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer

  /e2ee/prekeys/count:
    get:
      tags: [E2EE]
      summary: Get remaining prekey count
      description: Check how many one-time prekeys are available for this device.
      operationId: getPrekeyCount
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Prekey count
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer

  /e2ee/devices:
    get:
      tags: [E2EE]
      summary: List registered devices
      description: Get all devices with registered E2EE keys for the current user.
      operationId: listDevices
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of devices
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    device_id:
                      type: string
                    created_at:
                      type: string
                      format: date-time

  # ============================================
  # PRESENCE ENDPOINTS
  # ============================================

  /presence/status:
    put:
      tags: [Presence]
      summary: Update online status
      description: Update the current user's online status (online, away, dnd, invisible).
      operationId: updatePresenceStatus
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [online, away, dnd, invisible]
                custom_status:
                  type: string
                  maxLength: 128
      responses:
        '200':
          description: Status updated

security:
  - BearerAuth: []
  - CookieAuth: []
